<html>
<body>
<h1>{{ chat }}</h1>
    {% if messages %}
        {% for message in messages %}
        <div>
            <div style="width:600px;height:auto;display:inline-block">
            <p style="margin:1px">
                [{{  message.created_at}}] <b>{{ message.author }}:</b> {{ message.text }}
            </p>
            </div>
        {% if request.user == message.author %}
            <div style="display:inline-block">
                <form style="margin:0" action="{% url 'messenger:edit_message_form' message.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="chat_id" value="{{ chat.pk }}">
                    <input type="submit" value="Edit">
                </form>
            </div>
            <div style="display:inline-block">
                <form style="margin:0" action="{% url 'messenger:delete_message' message.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="chat_id" value="{{ chat.pk }}">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
    <p style="color: #808080">start messaging</p>
    {% endif %}
<br>
    <form style="margin-top:16px" action="{% url 'messenger:send_message' %}" method="post">
        {% csrf_token %}
        <label for="message">Message:</label>
        <input style="width:400px" type="text" id="message" name="message">
        <input type="hidden" name="chat_id" value="{{ chat.pk }}">
        <input type="submit" value="Send">
    </form>
</body>
</html>
