{% extends 'messenger/base.html' %}

{% block content %}
    <body>
    {% if perms.messenger.add_chat %}
    <a href="{% url 'messenger:create_chat' %}">Create chat</a>
    {% endif %}
    <h1>Available chats:</h1>
    <div class="chat-list">
             {% if chats %}
        <ul>
            {% for chat in chats %}
            <li>
                <div style="min-width: 400px; display: inline-block">
                    <a href="{% url 'messenger:chat' chat.pk %}">{{ chat.name }}</a>
                </div>
                    {% if perms.messenger.add_chat %}
                    <a href="{% url 'messenger:members' chat.pk %}"><button>Invite members</button></a>
                    {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No chats available.</p>
        {% endif %}
    </div>
    </body>
    </html>
{% endblock %}