{% extends 'messenger/base.html' %}

{% load static %}

{% block content %}

<html>
<body>
    <div class="container">
        <h1>Add members:</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" id="select-all">Select All</button><br><br>
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'messenger:index' %}">Back</a>
    </div>
        <script src="{% static 'messenger/js/members_utils.js' %}"></script>
</body>
</html>

{% endblock %}